/* Archived Project Styles */

#archived-project-view {
  min-height: 100vh;
  background-color: #000000;
}

.archived-section {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 35rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #000000;
}

.name-link {
  color: #64a19d;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: bold;
}

.name-link:hover {
  color: #4d8984;
  text-decoration: none;
}

.archived-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.archived-message {
  max-width: 30rem;
  margin: 0 auto;
}

.back-home-link {
  color: #64a19d;
  text-decoration: none;
  transition: color 0.2s ease;
}

.back-home-link:hover {
  color: #4d8984;
  text-decoration: none;
}

.back-home-link i {
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .archived-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .archived-section {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .archived-title {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.8rem;
  }
}
